{% set monit_monitor = item -%}
# {{ ansible_managed }}

{% if monit_monitor.type == 'process' %}
check process {{ monit_monitor.name }} with pidfile {{ monit_monitor.target }}
  if does not exist for 2 cycles then alert
{% if monit_monitor.start is defined %}
  start program = "{{ monit_monitor.start }}"
  {%- if monit_monitor.user is defined %} as uid {{monit_monitor.user}}{% endif %}
  {%- if monit_monitor.group is defined %} and gid {{monit_monitor.group}}{% endif %}
  {%- if monit_monitor.start_timeout_seconds is defined %} with timeout {{monit_monitor.start_timeout_seconds}} seconds{% endif %}
{% endif %}

{% if monit_monitor.stop is defined %}
  stop program = "{{ monit_monitor.stop }}"
  {%- if monit_monitor.user is defined %} as uid {{monit_monitor.user}}{% endif %}
  {%- if monit_monitor.group is defined %} and gid {{monit_monitor.group}}{% endif %}
{% endif %}
{% elif monit_monitor.type == 'system' %}
check system {{ monit_monitor.name }}
{% elif monit_monitor.type == 'host' %}
check host {{ monit_monitor.name }} with address {{ monit_monitor.target }}
{% elif monit_monitor.type == 'filesystem' %}
check filesystem {{ monit_monitor.name }} with path {{ monit_monitor.target }}
    {% if monit_monitor.every is defined %}every "{{ monit_monitor.every }}"{% endif %}
{% elif monit_monitor.type == 'program' %}
check program {{ monit_monitor.name }} with path {{ monit_monitor.target }}
    {% if monit_monitor.every is defined %}every "{{ monit_monitor.every }}"{% endif %}
{% elif monit_monitor.type == 'apache-status' %}
if failed host {{ monit_monitor.host }} port {{ monit_monitor.port }} protocol apache-status path {{ monit_monitor.target }}

{% endif %}

{% if monit_monitor.rules is defined %}
{% for rule in monit_monitor.rules %}
  {{ rule }}
{% endfor %}
{% endif %}
